<%- include('partials/header') %>

<% articles.forEach(article => { %>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h3 class="card-header"><%= article.title %></h3>
            <h6 class="card-subtitle mb-2 text-muted"><%= article.pdate %></h6>
            <p class="card-text"><%= article.body %></p>
        </div>
    </div>
</div>

<% }) %>

<div id="comments">

</div>

<%- include('partials/footer') %>