<%- include('partials/header') %>

<div class="container">
    <% articles.forEach(article => { %>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h3 class="card-header"><%= article.title %></h3>
                <p class="card-text"><%= article.body %></p>
                <h6 class="card-subtitle mb-2 text-muted">Posted: <%= article.pdate %></h6>

            </div>
        </div>
    </div>

    <% }) %>

    <div id="comments">

    </div>
</div>

<%- include('partials/footer') %>